@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
@import "tailwindcss";

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-barlow-condensed: "Barlow Condensed", sans-serif;
    --font-bellefair: "Bellefair", serif;
}