---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import mobileBg from "../assets/home/background-home-mobile.jpg";
import tabletBg from "../assets/home/background-home-tablet.jpg";
import desktopBg from "../assets/home/background-home-desktop.jpg";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <picture>
    <source srcset={desktopBg.src} media="(min-width: 768px)" />
    <source srcset={tabletBg.src} media="(min-width: 640px)" />
    <img
      src={mobileBg.src}
      alt="planet seen from space"
      class="fixed inset-0 w-full h-full object-cover -z-10"
      fetchpriority="high"
    />
  </picture>
  <Header />
  <main
    class="flex flex-col md:flex-row items-center gap-32 sm:gap-16 w-full max-w-[90rem] mx-auto px-6 sm:px-32 md:px-40 pt-6 sm:pt-32 md:pt-[18vh] text-center md:text-left"
  >
    <div class="flex-1 text-white">
      <h1>
        <p
          class="font-barlow-condensed text-2xl sm:text-3xl uppercase tracking-wide"
        >
          So, you want to travel to
        </p>
        <p
          class="mt-6 font-bellefair text-7xl sm:text-9xl uppercase tracking-widest"
        >
          space
        </p>
      </h1>
      <p class="mt-6 font-barlow">
        Let’s face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we’ll give you a truly out of this world
        experience!
      </p>
    </div>
    <div class="flex flex-1 justify-end">
      <a
        href="/"
        class="relative inline-grid px-8 sm:px-16 aspect-square place-items-center rounded-full text-3xl sm:text-4xl text-blue-900 uppercase no-underline bg-white
        before:absolute before:inset-0 before:rounded-full before:bg-white/40 before:opacity-0 before:scale-75 hover:before:opacity-100 hover:before:scale-150
        before:transition-transform before:duration-500 before:ease-out"
        >Explore</a
      >
    </div>
  </main>
</BaseLayout>
