---
import logo from "../assets/shared/logo.svg";
import iconHamburger from "../assets/shared/icon-hamburger.svg";
import Navigation from "./Navigation.astro";
---

<header
  class="flex justify-between items-center p-6 sm:py-0 sm:pl-10 sm:pr-0 md:pt-10 md:pb-0 md:pl-16"
>
  <button class="md:mr-16 cursor-pointer">
    <img src={logo.src} alt="space travel logo" />
  </button>
  <p
    class="hidden md:flex grow -mr-6 border-b-2 border-white -translate-y-1/2 z-10"
  >
    -
  </p>
  <button
    id="menuOpenBtn"
    class="block sm:hidden cursor-pointer"
    aria-controls="primary-navigation"
    ><span class="sr-only" aria-expanded="false">Menu</span>
    <img src={iconHamburger.src} alt="mobile menu button" />
  </button>
  <Navigation />
</header>
<script src="../scripts/menu.ts"></script>
