---
import iconClose from "../assets/shared/icon-close.svg";
---

<nav
  id="nav"
  data-visible="false"
  class="fixed sm:static inset-y-0 right-0 left-[40%] z-10 sm:z-0 md:min-w-1/2 px-10 md:pl-40 py-10 sm:py-0
    backdrop-blur-xl bg-white/10 translate-x-full sm:translate-x-0 transition-transform duration-300"
>
  <button
    id="menuCloseBtn"
    class="sm:hidden flex justify-end w-full cursor-pointer"
  >
    <img src={iconClose.src} alt="close button" />
  </button>
  <ul
    id="primary-navigation"
    class="mt-12 sm:mt-0 flex flex-col sm:flex-row gap-12 font-barlow-condensed text-white uppercase"
  >
    <li class="group relative py-0 sm:py-10">
      <a href=""
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >00</span
        >Home</a
      >
      <span
        class="hidden sm:inline absolute inset-0 w-full group-hover:border-b-4 group-hover:border-white"
      ></span>
    </li>
    <li class="group relative py-0 sm:py-10">
      <a href=""
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >01</span
        >Destination</a
      >
      <span
        class="hidden sm:inline absolute inset-0 w-full group-hover:border-b-4 group-hover:border-white"
      ></span>
    </li>
    <li class="group relative py-0 sm:py-10">
      <a href=""
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >02</span
        >Crew</a
      >
      <span
        class="hidden sm:inline absolute inset-0 w-full group-hover:border-b-4 group-hover:border-white"
      ></span>
    </li>
    <li class="group relative py-0 sm:py-10">
      <a href=""
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >03</span
        >Technology</a
      >
      <span
        class="hidden sm:inline absolute inset-0 w-full group-hover:border-b-4 group-hover:border-white"
      ></span>
    </li>
  </ul>
</nav>
