---
import iconClose from "../assets/shared/icon-close.svg";

const currentPath = Astro.url.pathname;
---

<nav
  id="nav"
  data-visible="false"
  class="fixed sm:static inset-y-0 right-0 left-[40%] z-10 sm:z-0 md:min-w-1/2 px-10 md:pl-40 py-10 sm:py-0
    backdrop-blur-xl bg-white/10 translate-x-full sm:translate-x-0 transition-transform duration-300"
>
  <button
    id="menuCloseBtn"
    class="sm:hidden flex justify-end w-full cursor-pointer"
  >
    <img src={iconClose.src} alt="close button" />
  </button>
  <ul
    id="primary-navigation"
    class="mt-12 sm:mt-0 flex flex-col sm:flex-row gap-12 font-barlow-condensed text-white uppercase"
  >
    <li
      data-active={currentPath === "/"}
      class="md:py-10 border-b-2 border-transparent data-[active=true]:border-white hover:border-b-2 hover:border-white/40"
    >
      <a href="/"
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >00</span
        >Home</a
      >
    </li>
    <li
      data-active={currentPath.startsWith("/destination")}
      class="md:py-10 border-b-2 border-transparent data-[active=true]:border-white hover:border-b-2 hover:border-white/40"
    >
      <a href="/destination/mars"
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >01</span
        >Destination</a
      >
    </li>
    <li
      data-active={currentPath.startsWith("/crew")}
      class="md:py-10 border-b-2 border-transparent data-[active=true]:border-white hover:border-b-2 hover:border-white/40"
    >
      <a href="/crew/1"
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >02</span
        >Crew</a
      >
    </li>
    <li
      data-active={currentPath.startsWith("/technology")}
      class="md:py-10 border-b-2 border-transparent data-[active=true]:border-white hover:border-b-2 hover:border-white/40"
    >
      <a href="/technology/1"
        ><span class="sm:hidden md:inline mr-3 font-bold" aria-hidden="true"
          >03</span
        >Technology</a
      >
    </li>
  </ul>
</nav>
